.main {
    display: grid;
    grid-template-columns: auto 100px;
    row-gap: var(--sp2x);

    > .header {
        text-align: center;
    }

    > * {
        grid-column: 1 / span 2;
    }

    > button {
        grid-column: 2;
    }

    .incorrect {
        display: none;
        grid-column: 1;
        color: var(--c-error);
        &.active {
            display: block;
        }
    }
}