.main {
    
    table {
        table-layout: fixed;
        width: 75%;
        margin: auto;
        border-collapse: collapse;
    }
    
    thead th:nth-child(1) {
        width: 10%;
    }
    
    thead th:nth-child(2) {
        width: 25%;
    }
    
    thead th:nth-child(3) {
        width: 45%;
    }
    
    thead th:nth-child(4) {
        width: 10%;
    }

    thead th:nth-child(5) {
        width: 10%;
    }
    
    th, td {
        padding: var(--sp);
    }
}