@import 'styling/mixins.scss';
.main {
    display: grid;
    grid-template-columns: 1fr var(--medium-aside);
    gap: var(--sp2x);

    > aside {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--sp2x);
        justify-content: space-around;
        position: relative;
        .labBut {
            @include action-button;
            width: 100%;
        }

        .modBut {
            @include action-button;
            width: 100%;
        }
    }
}

.samples {

}

.options {
    grid-column: span 2;
    // padding: var(--sp2x);
}
