.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: calc(var(--grid-gap) * 2);
    justify-items: center;
}

.link {
    font-size: 125%;
}

.descst {
    font-size: 150%;
}

.qr {

}