.wrapper {
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    position: relative;
}

.small {
    max-width: var(--wrapper-small);
}

.medium {
    max-width: var(--wrapper-medium);
}

.big {
    max-width: var(--wrapper-big);
}