@import-sanitize;
@import "./variables.scss";

a {
    text-decoration: unset;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    // background-color: var(--c-bg);
}

body, #root {
    min-height: 100%;
}

#root {
    min-height: 70vh;
}

html {
    height: 100%;
    color: var(--c-fg);
}