@import-sanitize;
@import "./variables.scss";

// * {
//     box-sizing: border-box
// } 

a {
    text-decoration: unset;
    color: inherit;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    // background-color: var(--c-bg);
}

body, #root {
    min-height: 100%;
}

html {
    height: 100%;
    // color: var(--c-fg);
}

// button {
//     position: relative;
//     display: inline-block;
//     cursor: pointer;
//     outline: none;
//     border: 0;
//     vertical-align: middle;
//     text-decoration: none;
//     font-size: inherit;
//     font-family: inherit;
//   }