@import-sanitize;
@import "./variables.scss";

a {
    text-decoration: unset;
    color: inherit;
}

body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body, #root {
    min-height: 100%;
}

// #root {
//     padding-bottom: 16px;
// }

html {
    height: 100%;
    word-break: unset;
}