@mixin workspace-button {  
    font-size: 1em;  
    padding: 0.5em 1.0em;  
    text-decoration: none;  
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--c-blue);
    border: dashed 2px var(--c-pink);
    @content;
}

@mixin action-button {  
    font-size: 1em;  
    padding: 0.5em 1.0em;  
    text-decoration: none;  
    text-align: center;
    background-color: var(--c-blue);
    border: dashed 2px var(--c-pink);
    @content;
}