:root {
    --wrapper-small: 400px;
    --wrapper-medium: 70ch;
    --wrapper-big: 1400px;

    --medium-aside: 50ch;

    --header-width: 50px;

    // spacing
    --sp: 8px;
    --sp2x: 16px;

    --grid-gap: 16px;

    // colors
    --c-error: #f44336;

    --c-bg: #fefefe;
    --c-fg: #0f0f0f;
    --c-pink: #FF9ACB;
    --c-green: #DEF873;
    --c-yellow: #FFFA7C;
    --c-blue: #C7F0E8;
}