:root {
    --wrapper-small: 400px;
    --wrapper-medium: 70ch;
    --wrapper-big: 1400px;

    // spacing
    --sp: 8px;
    --sp2x: 16px;

    // colors
    --c-error: #f44336;

    --c-bg: #C5E0DC;
    --c-bg2: #ECE5CE;
    --c-border: #F1D4AF;
    --c-fg2: #E08E79;
    --c-fg: #774F38;
}