@import 'styling/mixins.scss';

.main {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
    margin-bottom: var(--grid-gap);
}

.accHeading {
    > [role=button] {
        text-align: center;
        background: lightgray;
        padding: var(--sp);
    }
}

.panel {
    display: flex;
    flex-direction: column;
}

.radioGroup {
    display: flex;
    flex-direction: column;
}

.hyper {
    display: grid;
    grid-template-columns: 40% auto;
    .radioGroup {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
}

.train {
    @include action-button;
}