.main {
    display: grid;
    grid-template-columns: auto var(--medium-aside);
    justify-content: space-around;
    gap: var(--grid-gap);
    > section {
        > header {
        }

        table {
            border-collapse: collapse;
        }

        th, td {
            padding: var(--sp);
        }
    }

    > aside {

    }
}