.container {
    display: flex;
    height: var(--header-width);
    margin-bottom: var(--sp2x);
    background: var(--c-blue);
    font-size: 125%;
    align-items: center;
    padding: var(--sp2x);
}

.bread {
    display: flex;
    .seperator {
        padding: 0.5em;
    }
}

.float {
    margin-left: auto;
}

.usernameC {

} 

.signupC {

}

.loginC {

}